.notFound {
  text-align: center;
  margin-top: 5%;
  h1 {
    font-size: 130px;
    padding: 20px 30px;
    background: royalblue;
    color: aliceblue;
    border-radius: 18px;
  }

  p {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
  }
}
